---
name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-* # Pre-release tags like v1.0.0-beta

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 24
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Build and Bundle
        run: |
          npm run build
      - name: Run unit tests
        run: npm test
      - name: Run ESLint
        run: npm run lint

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Get Version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_NOTES="## Installation

          \`\`\`yaml
          - uses: tenthirtyam/setup-task@v${{ steps.get_version.outputs.VERSION }}
          \`\`\`

          Refer to the [\`README.md\`](https://github.com/tenthirtyam/setup-task/blob/main/README.md) for detailed usage information."

          gh release create ${{ github.ref_name }} \
            --title "v${{ steps.get_version.outputs.VERSION }}" \
            --notes "$RELEASE_NOTES" \
            ${{ contains(github.ref, '-') && '--prerelease' || '' }}
